button {
    cursor: pointer;
}

body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;

    --black: #242424;
    --white: #f2f2f2;
    --lightGrey: #d9dce2;
    --grey: #57585b;


    font-family: "Mona Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "width" 100;

    min-height: 100dvh;
}

a {
    text-decoration: none;
}


.hor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ver {
    display: flex;
    flex-direction: column;
}




.iconBtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: fit-content;

    border: 1px solid var(--lightGrey);
    transition: border-color 200ms ease-out;
    background-color: transparent;

    padding: 0.2rem;
}

.iconBtn:hover {
    border-color: var(--black);
}

.iconBtn>img {
    height: auto;
    width: auto;

    max-height: 100%;
    max-width: 100%;
}

.iconBtn {
    width: 1.75rem;
    height: 1.75rem;
}


@font-face {
    font-family: CanadianSyllabic;
    src: url("/font/NotoSansCanadianSyllabic_Regular.ttf");
}